@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.ui {
  color: white;
  padding: 10px;
  // background-color: rgba(0, 0, 0, 0.5); // Optional: add background color
  border-radius: 8px; // Optional: add border radius
  position: absolute;
  top: 10vh;
  left: 10vw;
  font-family: "Michroma", sans-serif;
}
